.chatpage{
    height: 100%;
    overflow-y: scroll;
}

.chatpage-content {
    padding: 10.6666666667px;
    position: relative;
    margin-bottom: 5em;
    height: 100%;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4em;
    background: #ffffff;
    /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
}

.bottom .input {
    font-size: 1em;
    height: 4em;
    background: #ffffff;
    border: none;
    width: calc(100% - 4em);
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5%;
    resize: none;
    overflow: scroll;
    padding-top: 2em;
    font-weight: 300;
    -ms-overflow-style: none;
    overflow: auto;
}

.bottom .input:focus {
    outline: none;
}

.bottom .input::-webkit-scrollbar {
    width: 0 !important;
}

.bottom .send {
    position: fixed;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 0;
    background: #75e900;
    color: #ffffff;
    bottom: .5em;
    right: .5em;
}

.bottom .send:before {
    content: '';
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
    background-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bottom .send:focus {
    outline: none;
}

.bottom .send:hover {
    cursor: pointer;
}

.message-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 1em 0;
    padding: 1em 0;
}

.message-wrapper .circle-wrapper {
    height: 42.6666666667px;
    width: 42.6666666667px;
    border-radius: 50%;
}

.message-wrapper .text-wrapper {
    padding: 1em;
    min-height: 2em;
    width: 60%;
    margin: 0 1em;
    box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
    border-radius: 2px;
    font-weight: 300;
    position: relative;
    /* word-break: break-all; */
    opacity: 0;
}

.message-wrapper .text-wrapper:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}

.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
    background: #0000d6;
    float: left;
    color: #ffffff;
}

.message-wrapper.them .text-wrapper:before {
    border-width: 0 10px 10px 0;
    border-color: transparent #0000d6 transparent transparent;
    position: absolute;
    top: 0;
    left: -9px;
}

.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
    background: #75e900;
    float: right;
    color: #333333;
}

.message-wrapper.me .text-wrapper {
    background: #ffffff;
}

.message-wrapper.me .text-wrapper:before {
    border-width: 10px 10px 0 0;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -9px;
}
