/* *{border: 1px solid red} */

:root {
    font-size: 3vh;
}

body {
    --mdc-theme-primary: #0000d6;
    --mdc-theme-secondary: #75e900;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100%;
    width: 50vh;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    transition: 0.3s ease;
}

.wrapper .inner {
    height: 100%;
    width: 100%;
    background: #f2f2f2;
}

.wrapper .inner::-webkit-scrollbar {
    width: 0 !important;
}

.content {
    box-sizing: border-box;
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}

.text_container{
    width: 100%;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.action_button {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    width: 80%;
    height: 3em;
    margin-top: 1em;
}

@media (orientation: portrait) {
    .wrapper {
        width: 100%;
        height: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .wrapper .inner {
        height: 100%;
        height: 100vh;
    }
}
