* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
}

.title {
    color: #ffffff;
    text-align: center;
    font-weight: 100;
}

.wrapper {
    height: 520px;
    width: 320px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    transition: 0.3s ease;
}

.wrapper .inner {
    height: 520px;
    padding-top: 64px;
    background: #f2f2f2;
}

.wrapper .inner::-webkit-scrollbar {
    width: 0 !important;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 100;
    transition: 0.3s ease;
}

.nav .default-nav {
    height: 64px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 110;
    background-color: #C6002B;
    border-bottom: 3px solid #ea1c0d;
    color: #ffffff;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    transition: 0.3s ease;
}

.nav .default-nav .main-nav {
    position: absolute;
    left: 0;
    width: 100%;
    height: 64px;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.3s ease;
}

.nav .default-nav .main-nav .navicon {
    font-size: 28px;
    height: 32px;
    width: 32px;
    background-size: contain;
    margin: 16px;
    float: left;
}

.nav .default-nav .main-nav .navicon:hover {
    cursor: pointer;
}

.nav .default-nav .main-nav .options {
    height: 32px;
    width: 32px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_more_vert_white_48dp.png);
    background-size: contain;
    margin: 16px;
    position: absolute;
    right: 0;
}

.nav .default-nav .main-nav .options:hover {
    cursor: pointer;
}

.nav .default-nav .main-nav .main-nav-item {
    font-size: 16pt;
    float: left;
    height: 64px;
    margin-right: 50px;
    position: relative;
    line-height: 64px;
    transition: 0.3s ease;
}

.nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
    display: block;
    position: relative;
    height: 64px;
    width: 100%;
    text-align: center;
    line-height: 64px;
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

@media (orientation: portrait) {
    .wrapper {
        width: 100%;
        height: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .wrapper .inner {
        height: 100%;
        height: 100vh;
    }
}
